In [12]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os
import seaborn as sns

In [13]:
elnino = pd.read_csv('tao-all2.dat', header = None, delimiter=' ')
elnino.columns = [
    'Observation', 'Year', 'Month', 'Day', 
    'Date', 'Latitude', 'Longitude', 'Zonal Winds',
    'Meridional Winds', 'Humidity', 'Air Temp', 'Sea Surface Temp'
]

## Statistical summary for the **Elnino**(toa-all.dat) file

In [14]:
elnino.describe()

,Observation,Year,Month,Day,Date,Latitude,Longitude
count,178080.000000,178080.000000,178080.000000,178080.000000,178080.000000,178080.000000,178080.000000
mean,89040.500000,93.302325,6.504869,15.720536,933689.455374,0.473626,-54.025233
std,51407.412306,3.393818,3.459657,8.800487,33900.474320,4.583041,135.363994
min,1.000000,80.000000,1.000000,1.000000,800307.000000,-8.810000,-180.000000
25%,44520.750000,92.000000,4.000000,8.000000,920116.000000,-2.010000,-154.950000
50%,89040.500000,94.000000,6.000000,16.000000,940601.000000,0.010000,-111.260000
75%,133560.250000,96.000000,10.000000,23.000000,960617.000000,4.980000,147.010000
max,178080.000000,98.000000,12.000000,31.000000,980623.000000,9.050000,171.080000

## Data types for variables

In [15]:
elnino.dtypes

Observation           int64
Year                  int64
Month                 int64
Day                   int64
Date                  int64
Latitude            float64
Longitude           float64
Zonal Winds          object
Meridional Winds     object
Humidity             object
Air Temp             object
Sea Surface Temp     object
dtype: object

## Number of rows and column in dataset

The dataset file is composed of the following number of rows and columns (rows, columns):

In [20]:
elnino.shape

(178080, 12)

## Check for null values

The total number of null/missing values is:

In [22]:
elnino.isnull().sum()

Observation         0
Year                0
Month               0
Day                 0
Date                0
Latitude            0
Longitude           0
Zonal Winds         0
Meridional Winds    0
Humidity            0
Air Temp            0
Sea Surface Temp    0
dtype: int64

In [23]:
print("So, there is :",elnino.isnull().values.sum(), " value missing")

So, there is : 0  value missing